USE [QuanLySinhVienDB]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 06/06/2023 10:17:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[ID] [nvarchar](5) NOT NULL,
	[TEN] [nvarchar](30) NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[TUOI] [int] NULL,
	[DIEMTOAN] [float] NULL,
	[DIEMVAN] [float] NULL,
	[DIEMANH] [float] NULL,
	[DIEMTB] [float] NULL,
	[HOCLUC] [nvarchar](10) NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[SINHVIEN] ([ID], [TEN], [GIOITINH], [TUOI], [DIEMTOAN], [DIEMVAN], [DIEMANH], [DIEMTB], [HOCLUC]) VALUES (N'1', N'Trần Trọng Tân', N'Nam ', 23, 9, 9, 9, 9, N'Giỏi')
INSERT [dbo].[SINHVIEN] ([ID], [TEN], [GIOITINH], [TUOI], [DIEMTOAN], [DIEMVAN], [DIEMANH], [DIEMTB], [HOCLUC]) VALUES (N'2', N'Trần Văn C', N'Nữ', 20, 6, 6, 7.7, 6.6, N'Khá')
GO
